extends layout
include _includes/sharedHTMLfunctions
block content
  .row.page-header
    .col-lg-12
      h1=pageHeader.title
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          img(border="0" src="images/blue pot.jpg")
          p.rating
            +outputRating(item.rating)
          p=item.description  
          .panel.panel-primary
            .panel-heading
              h2.panel-title Details of this Item
            .panel-body
              p Bowl Material : Ceramic
              p Number of Pieces : 12
              p Brand	: RAJ ROYAL
              p Colour	: Blue
              p Style :	Contemporary
              p Room Type :	Room Décor, Dining Décor
        .col-xs-12.col-sm-6.about-the-item      
          .panel.panel-primary
            .panel-heading
              h2.panel-title About this item 
            .panel-body
              p - Handmade ceramic vase made by the traditional craftsmen in India , high-quality flower vases are more resistant to cracking and corrosion. Since the vase is handmade craft, there will be slight differences between the surface of each one, which is a normal phenomenon
              p - High temperature calcination, creating irregular shape design, all manual opening, handmade, selected clay, every detail and every part through the hands of the craft master, crafty and make the charm of its own, simple and style at the same time.
              p - pottery small vase, creative modern design, Ideal for greenery or artificial flowers. Simply display the vase on its own is beautiful Perfect for coffee table, dinner table, bookcase, shelves, kitchen, living room, office.
              p - Great gift idea for teachers, Moms, Best friends in your life, this white ceramic vase made with high quality white porcelain all can help you express your love.
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href='/location/review/new')  Add review
              h2.panel-title Customer Reviews
            .panel-body.review-container
              each review in item.reviews
              .row
                .review
                  .well.well-sm.review-header
                    span.rating
                      +outputRating(review.rating)
                    span.reviewAuthor #{review.author}
                    small.reviewTimestamp  #{review.timestamp}
                  .col-xs-12
                    p !{(review.reviewText).replace(/\n/g, '<br/>')}
      .col-xs-12.col-md-3  